@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    color: rgb(0, 0, 0);
    background-color: var(--white);
    

}
/* header */

.header-container{
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    background-image: url('./img/Assunto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;

}

#animado{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorText);
    border-right: 2px solid var(--colorText);
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation{
    animation:blinkCursor 800ms steps(30) infinite normal,typing 5.5s steps(18) 1s normal;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 9em;
    }
}
@keyframes blinkCursor{
    from{
        border-right-color:var(--colortext);
    }
    to{
        border-right-color: transparent;
    }
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorText);
}


h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorText);
}
.social-media{
    margin-top: 1rem;
    display: flex;
}
.social-media a {
    text-decoration: none;
    color: var(--colorText);
    padding: 1rem 4rem;
    border: 1px solid var(--colorText);
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}
a:hover{
    background-color: var(--color1);
    color: black;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
}
.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: var(--colorText);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}
#toggle{
    display: none;

}

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px var(--white);
    z-index: -1;
    transition: 400ms ease-in-out;
}

.menu-items{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out;
}
.menu-items ul{
    list-style-type: none;

}
.menu-items ul li a{
    margin: 10px 0;
    color:var(--colorText) ;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;

}
#toggle:checked + .checkbox .trace:nth-child(1){
    transform:rotate(45deg);
    top: 47px;

}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform:translate(-100px);
    top: 30px;
    visibility: hidden;
    opacity: 0;
     }
#toggle:checked + .checkbox .trace:nth-child(3){
        transform:rotate(-45deg);
        top: 48px;
         }

#toggle:checked + .checkbox{
    background-color: var(--color2);
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax var(--color2);
    z-index: 1;
}
#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}


.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    background-color: var(--color4);
    
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding-bottom: 70px;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: var(--white);
   
    transition: 0.5s ease-in-out;
}

.card-text{
    width: 40%;
    letter-spacing: 1px;
    color: var(--colorText2);
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid var(--colorText);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
   font-size: 40px;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin: 0;
   transition: 0.5s ease-in-out;
   color: var(--colorText);
    }

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    color: var(--colorText);
}
.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.sobre-mim{
    height: 100vh;
    width: 100%;
    background-image: url('meucurriculo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: var(--white);
}

.js{
position: absolute;
height: 30vh;
width: 30vh;
background-size: contain;
background-image: url('./img/script.png');
background-position: center;
background-repeat: no-repeat;
left: 80%;
top: 35%;
}
.html{
position: absolute;
height: 15vh;
width: 15vh;
background-size: contain;
background-image: url('./img/html.png');
background-position: center;
background-repeat: no-repeat;
left: 70%;
top: 20%;

}
.css{
position: absolute;
height: 15vh;
width: 15vh;
background-size: contain;
background-image: url('./img/css.png');   
background-position: center;
background-repeat: no-repeat;
left: 70%;
}

/* sobre o modo noturno*/

:root{

--white: aliceblue;
--dark: rgb(12, 12, 12);
--color1: aquamarine;
--color: #6e17b9;
--color2: aquamarine;
--color3:rgb(101, 212, 175);
--colorText:black;
--colorText2:gray;
--colorCardText:aliceblue;
--color4:rgb(216, 238, 238);
}
[data-theme="dark"]{
    --white:rgb(12, 12, 12);
    --dark:white;
    --colorText2:aquamarine;
    --colorText: rgb(101, 212, 175);
    --colorCardText:aquamarine;
    --color4:black;
    --color2:black;
}

.dark-mode{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: var(--white);
    padding: 2rem;
    border-radius: 10px;
}
.botao{
    background-color: var(--colorText2);
    padding: .4rem;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
     
}
.botao:hover{
    background-color: var(--colorText);
    transition: 0.4s;
}
svg{
    color: var(--white);
    width: 24px;
    height: 24px;
}
.dark-mode{
    position: absolute;
    left: 24vh;
}